@{
    ViewData["Title"] = "Home Page";
}

<h1>Usuario ja logado...</h1>
<p>Redirecionando para Home...</p>
<script type="text/javascript">    
    setTimeout(function() {
        window.location.href = "/"
    }, 3000)
</script>