@{
    ViewData["Title"] = "Home Page";
}

<h1>Email ou senha incorretos...</h1>
<p>Redirecionando para pagina de login...</p>
<script type="text/javascript">    
    setTimeout(function() {
        window.location.href = "/login"
    }, 2000)
</script>