@{
    ViewData["Title"] = "Logout";
}

<h1>Confirme para sair:</h1>
<form method="post" asp-action="logout" asp-controller="Auth">
    <button class="btn btn-primary mt-2 mb-2" type="submit">Sair</button>
</form>
<a href="/">
<button class="btn btn-secondary">Cancelar</button>
</a>